# Self explanatory
Backups/
Cookies*
GPUCache/
Cache*
Local Storage/

globalStorage/

# Probably not needed
Preferences
blob_storage/
Dictionaries/
machineid
workspaceStorage/
Code Cache/
Crash Reports/
exthost Crash Reports/
Session Storage/
.org.chromium*
Network Persistent State
TransportSecurity

# Not so sure about these
languagepacks.json
storage.json
